body {
    background-color: whitesmoke;
}

.content-wrapper {
    background-color: white;
    margin: 5px;
}

.content-wrapper column {
    padding: 5px;
}


.card-index-show {
    background-color: white;
    margin-top: 1rem;
    margin-bottom: 1rem ;

}

/* img setup */
.postcard {
    object-fit: cover;
    object-position: center;
    height: auto;
    width: 100%;
}

img.fit-show {
    object-fit: cover;
    height: auto;
    width: 100%;
}
.profile_pic {
    height: auto;
    width: 50px;
    border-radius: 18px;
}

/* h tag setup */
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    height: 3px;
    background-color: lightgray;
}

h5.name-header {
    font-weight: bold;
    margin-top: 0.8rem;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    color: lightcyan;
}

.card-title-adj {
    margin-top: 3px;
    margin-left: 10px;
    margin-right: 5px;
    font-size: small
}
.like {
    cursor: pointer;
}
.show-color-heart{
    color: Tomato;
}
