 body {
            margin: 25px;
        }

        .column {
            padding: 5px;
        }
        img.fit-show{
            height: auto;
            width: 100%;
        }
        div.polaroid {
            width: fit-content;
            background-color: white;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            margin-bottom: 15px;
            padding: 5px;
        }

        div.container {
            text-align: center;
            padding: 5px 10px;
        }
