<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/insta.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/660d59cbfc.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ajax-csrf-auth.js' %}"></script>
    {% block extrascript %}
    {% endblock extrascript %}

    {% block title %}
    <title>Insta Demo</title>
    {% endblock title%}
</head>
<body>
{% include 'header.html' %}

<div class="content-wrapper">
    {% block content %}
    {% endblock content%}
</div>


</body>
</html>