{% extends 'base.html' %}

{% block additionalBtn %}

<a href="{% url 'make_post' %}">
    <button type="submit" class="btn btn-primary float-left">
        Make New Post
    </button>
</a>

{% endblock %}

{% block content %}
<div class="row">
    {% for post in post_list %}
    <div class="column">
        <div class="polaroid">
            <a href="{% url 'post_detail' post.id %}">
                <!-- route to root path -->
                <img src="/{{post.image}}"
                     style="
                         object-fit: contain;
                         object-position: center;
                         height: 150px;
                         width: 150px;">
                <div class="container">
                    <p>{{post.title}}</p>
                </div>
            </a>
        </div>
    </div>

    {% endfor %}
</div>
{% endblock %}